.displayContainer {
    width: 90%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}