.button {
    width: 20%;
    min-width: 50px;
    height: 2.5em;
    background-color: aquamarine;
    color: black;
    border-radius: 10px;
    font-weight: bold;
}

.buttonError {
    background-color: red;
}

.button:disabled {
    opacity: 0.5;
}